@import '../../../node_modules/font-awesome/scss/font-awesome';
$terminal: 'TerminalGrotesqueRegular', monospace;
$orbitron: 'Orbitron', 'Helvetica', 'Arial', sans-serif;
$spaceMono: 'Space Mono', monospace;
$exo2: 'Exo 2', 'Helvetica', 'Arial', sans-serif;
$openSans: 'Open Sans', 'Helvetica', 'Arial', sans-serif;
