#footer {
    width: 100%;
}

.footer-content p {
    display: inline-block;
    letter-spacing: 1px;
    font-family: $spaceMono;
    text-transform: uppercase;
    font-size: 1.4rem;
    padding: 0 2.8rem;
}
